<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="minium.co.messages">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
    On SDK version 23 and up, your app data will be automatically backed up and restored on app install.
    Consider adding the attribute `android:fullBackupContent` to specify an `@xml` resource
    which configures which files to backup.
    More info: https://developer.android.com/preview/backup/index.html
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="label,icon">

        <!-- Fabric configuration -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3a18ba28dbf20cf77b809a2a21ad29d0593404a2" />

    </application>

</manifest>
