<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.siempo.phone">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- Becoming default SMS app -->
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- TODO: using it for flow, we might not need this -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".app.Launcher3App_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/SiempoAppTheme"
        tools:ignore="AllowBackup">

        <!-- Fabric configuration -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6a700e064d3ba9dbf81d871dd3c0b3081ab158f7" />


        <activity
            android:name=".launcher.FakeLauncherActivity"
            android:enabled="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SiempoNotificationListener_"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receivers.CallReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".msg.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.UpdateActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlphaSettingsActivity_"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.StatusBarService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.SuppressNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SiempoPermissionActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IntentionEditActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <receiver android:name=".service.AlarmBroadcast">
            <intent-filter>
                <action android:name="co.siempo.phone.ACTION_ALARM" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.AlarmService" />

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.DashboardActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:theme="@style/SiempoAppTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="RUN_AT_BOOT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NoteListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CoreTheme" />
        <activity
            android:name=".activities.NotesEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".activities.NotesEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CoreTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NotesEditActivity" />
        </activity>

        <receiver
            android:name=".receivers.NoteEventReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="minium.co.notes.CREATE_NOTES" />
            </intent-filter>
            <intent-filter>
                <action android:name="minium.co.notes.EDIT_NOTES" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.evernote.client.android.EvernoteOAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.evernote.client.android.login.EvernoteLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AppAssignmentActivity"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".fragments.PaneFragment" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".activities.JunkfoodFlaggingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FavoritesSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ToolPositioningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FavoriteAppsPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ToolSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EmailRequestActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>